.img-container{
    flex: 1 1 auto;
}
.img{
    padding: 10px;
    border-radius: 30px;
}
.img:hover{
    opacity: .9;
    transition: ease-in 0.1s;
}
.btn-container{
    display: none;
    /* position: absolute;
    transform: translate(-100px, 20px); */
    background: red;
    color: white;
}
.share{
    background: red;
    color: white;
    position: absolute;
    transform: translate(-100px, 95px);
}
.save{
    background: red;
    color: white;
    position: absolute;
    transform: translate(-100px, -135px);
}
img:hover + .btn-container, .btn-container:hover {
    display: inline-block;
}